# Python virtual environment
venv/
.venv/
env/
ENV/

# Python bytecode/compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Environments / Secrets
.env
.venv
env.bak
venv.bak

# OS specific files
.DS_Store
Thumbs.db
Sicurezza/es/20260204_01_waf/mysqldata/ca-key.pem

# Escludi interamente la cartella dei dati del database
**/mysqldata/

# Escludi file binari e log pesanti
*.ibd
*.dblwr
*.err

# Escludi chiavi private (Sicurezza!)
*.pem
*.key
Sicurezza/es/20260204_01_waf/mysqldata/client-cert.pem
