.def
{
    background-color: gray;
    color: black;
}

.pink
{
    background-color: hotpink;
    color: lightsteelblue;
}

.mocca
{
    background-color:moccasin;
    color: gray;
}

.flame
{
    background-color: red;
    color:gold;
}

.sal
{
    background-color: salmon;
    color: aliceblue;
}

.green
{
    background-color: lime;
    color: black;
}